**In this little tutorial we'll get deeper into SVD based on user-item concept**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
ratings = pd.read_csv('/content/drive/My Drive/ratings_small.csv') # all this data sets you'll find in my repo 
id_map = pd.read_csv('/content/id_title.csv')

In [26]:
id_map.head()
ratings.head() # let's remember how they look

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
id_map2 = id_map.set_index('movieId')[['title']]

In [13]:
id_map2.head()

                               title
movieId
1                          Toy Story
2                            Jumanji
3                   Grumpier Old Men
4                  Waiting to Exhale
5        Father of the Bride Part II

In [8]:
ratings_2 = ratings[ratings.movieId.isin(id_map2.index)]

In [29]:
user_item = ratings_2.groupby(['userId', 'movieId'])['rating'].first().unstack(fill_value = 0.)
user_item.head() # zero values mean that a particular user didn't rate a particular movie

movieId  1       2       3       4       ...  161944  162542  162672  163949
userId                                   ...
1           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
5           0.0     0.0     4.0     0.0  ...     0.0     0.0     0.0     0.0

[5 rows x 9025 columns]

In [14]:
user_item.loc[42].sort_values(ascending=False).head() # take an example

movieId
589     5.0
296     5.0
1200    5.0
1196    5.0
480     5.0
Name: 42, dtype: float64

In [32]:
id_map2.loc[user_item.loc[42].sort_values(ascending=False).head().index] # a list of movies which User_42 has liked most

                              title
movieId
589      Terminator 2: Judgment Day
296                    Pulp Fiction
1200                         Aliens
1196        The Empire Strikes Back
480                   Jurassic Park

In [16]:
from numpy.linalg import svd 
U, S, Vt = svd(user_item, full_matrices=False)
rank = [50,100] # you can experiment with the rank 
for r in rank:
  matrix = U[:, :r] @ np.diag(S)[:r,:r] @ Vt[:r,:]
  if r == 50:
    pred_df_50 = pd.DataFrame(matrix, columns=user_item.columns, index=user_item.index)
  else:
    pred_df_100 = pd.DataFrame(matrix, columns=user_item.columns, index=user_item.index)

In [37]:
pred_df_100.loc[42].sort_values(ascending=False).head() # so our predicted df thinks, that this movies would be high rated by User_42

movieId
260     5.234493
1196    4.653261
2571    4.637456
1198    4.312162
1210    4.216438
Name: 42, dtype: float64

In [41]:
user_item.loc[42,pred_df_100.loc[42].sort_values(ascending=False).head().index] 
# let's see true ratings, only movie 2571 was considered wrong

movieId
260     4.5
1196    5.0
318     5.0
2571    3.5
1198    5.0
Name: 42, dtype: float64

In [38]:
id_map2.loc[pred_df_100.loc[42].sort_values(ascending=False).head().index] # titles for this movies

                            title
movieId
260                     Star Wars
1196      The Empire Strikes Back
318      The Shawshank Redemption
2571                   The Matrix
1198      Raiders of the Lost Ark

In [138]:
def get_recommendations(userId):
  """
  Recommendation of movies for User, which he/she hasn't rated yet
  based on SVD of ratings data set
  """
  movies_rated_by_user = user_item.loc[userId]
  movies_zero_rated = movies_rated_by_user[movies_rated_by_user == 0.].index
  movies_titles = id_map2.loc[movies_zero_rated]

  movies_recommended_for_user = pred_df_100.loc[userId]
  movies_zero_recommended = movies_recommended_for_user.loc[movies_zero_rated]
  df = pd.DataFrame({'predicted_ratings':movies_zero_recommended.values, 'recommended_movie':movies_titles.title})

  movies_highly_rated_by_user = movies_rated_by_user.sort_values(ascending=False).index
  movies_highly_rated_titles = id_map2.loc[movies_highly_rated_by_user].reset_index().title.head(10)

  df = df.sort_values(by='predicted_ratings',ascending=False).reset_index().head(10)
  df['highly_rated_movies'] = movies_highly_rated_titles
  return df

In [140]:
get_recommendations(42)

   movieId  ...                                highly_rated_movies
0      593  ...                         Terminator 2: Judgment Day
1     1270  ...                                       Pulp Fiction
2        1  ...                                             Aliens
3     6539  ...                            The Empire Strikes Back
4    54286  ...                                      Jurassic Park
5     1240  ...  The Lord of the Rings: The Fellowship of the Ring
6     3578  ...                            Raiders of the Lost Ark
7     1197  ...                                       The Fugitive
8      377  ...                         E.T. the Extra-Terrestrial
9      150  ...                           The Shawshank Redemption

[10 rows x 4 columns]

In [137]:
get_recommendations(3) # I think it's a pretty good recommendation despite the fact that predicted ratings are low

   movieId  ...                                highly_rated_movies
0     2571  ...                                         Fight Club
1     1704  ...                                       Forrest Gump
2        1  ...                           The Shawshank Redemption
3     4993  ...                                 The Princess Bride
4     5952  ...                                Requiem for a Dream
5      480  ...                               Flags of Our Fathers
6      260  ...                                       Titanic 1997
7     2329  ...                              Letters from Iwo Jima
8      590  ...                                       Pulp Fiction
9      150  ...  The White Stripes: Under Great White Northern ...

[10 rows x 4 columns]

In [141]:
# this function doesn't take into account movies, which User has already rated
def get_recommendations_2(userId): 
  """
  Recommendation of movies for User based on SVD of ratings data set
  """
  movies_rated_by_user = user_item.loc[userId]
  movies_highly_rated_by_user = movies_rated_by_user[movies_rated_by_user > 3].index

  movies_recommended_for_user = pred_df_100.loc[userId]
  movies_highly_recommend_for_user = movies_recommended_for_user[movies_recommended_for_user > 3].index
  
  # leave only those, which User haven't rated yet
  result = list(set(movies_highly_recommend_for_user) - set(movies_highly_rated_by_user))
  if result != []:
    return result, list(id_map2.loc[result].title.values)
  else:
    return 0, 0

In [142]:
for idx in range(1,100):
  indices, movies = get_recommendations_2(idx)
  if (indices, movies) != (0, 0):
    print('UserId: {}, movies: {}'.format(idx, movies)) 
# as you can see our model isn't great: it can't recommend smth new for some users

UserId: 2, movies: ['The Silence of the Lambs', 'The Fugitive', 'Forrest Gump', 'Aladdin']
UserId: 3, movies: ["Schindler's List"]
UserId: 4, movies: ['Batman 1989', 'Beauty and the Beast 1991', 'True Lies', 'Dances with Wolves']
UserId: 7, movies: ['Forrest Gump', 'Terminator 2: Judgment Day', 'The Princess Bride']
UserId: 15, movies: ['42 Up', 'GoldenEye', 'The World Is Not Enough', 'Avengers: Age of Ultron', 'Zootopia', 'Strange Brew', 'Ant-Man', 'Go', 'Leaving Las Vegas', 'Innerspace', 'Blue Velvet', 'TRON: Legacy', 'So I Married an Axe Murderer', 'Planet of the Apes 2001', 'Election', 'Captain America: Civil War', 'eXistenZ', 'Willy Wonka & the Chocolate Factory', 'Welcome to the Dollhouse', 'Harry Potter and the Deathly Hallows: Part 2', 'The Mexican', 'Uncle Buck', 'The Peacemaker', 'Frankenstein', 'Magnolia', 'Rush Hour 2', 'Beautiful Girls', 'Collateral', 'Heavy Metal', 'The Gods Must Be Crazy', "The Devil's Advocate", 'The NeverEnding Story', 'Gattaca', 'Blade', 'The Wrong Trousers', 'Stripes', 'Spy Kids', 'Arachnophobia', 'American Pie', 'Arlington Road', 'The Cook, the Thief, His Wife & Her Lover', 'Apollo 13', 'EuroTrip', 'Batman v Superman: Dawn of Justice', 'Crimson Tide', 'Barbarella', 'National Lampoonâ€™s Van Wilder', 'The Girl Next Door 2004', "Wayne's World", 'Limitless', 'X2', 'El Mariachi', 'Annie Hall', 'Live Free or Die Hard', 'Pearl Harbor', 'La Femme Nikita', 'A Close Shave', 'The Italian Job 2003', 'Diva', 'Die Another Day', 'Edward Scissorhands', 'As Good as It Gets', 'Saw', 'Three Days of the Condor', 'The Big Sleep 1946', 'The Fast and the Furious 2001', 'Kingpin', 'Butch Cassidy and the Sundance Kid', 'Shallow Hal', 'Gods and Monsters', 'Love Actually', 'AlienÂ³', 'Central Station', 'Almost Famous', 'Stargate', 'WarGames', "Muriel's Wedding", 'The Crow', 'Creature Comforts', 'Reality Bites', 'The Thin Red Line', 'Sicario', 'An Inconvenient Truth', "Charlie's Angels", 'The Wizard of Oz', 'In the Heat of the Night', 'Vertical Limit', 'Rocky', 'RoboCop 1987', 'Misery', 'Klute', 'Cliffhanger', "The King's Speech", 'Return to Me', "It's a Wonderful Life", 'American Wedding', 'O Brother, Where Art Thou?', 'Anchorman: The Legend of Ron Burgundy', 'October Sky', 'The Firm', 'Predator', 'A Walk to Remember', 'Falling Down', 'Liar Liar', 'Gremlins', 'The Hudsucker Proxy', 'Metropolis 1927', 'Kick-Ass', 'Grosse Pointe Blank', 'Back to the Future Part II', 'Kalifornia', 'Saving Private Ryan', 'Mrs. Doubtfire', 'The Fog of War', 'Beverly Hills Cop']
UserId: 17, movies: ['Forrest Gump', '28 Days Later', 'Men in Black', 'Dances with Wolves', 'Erin Brockovich', 'Eyes Wide Shut', 'The Net', 'Austin Powers: The Spy Who Shagged Me', 'Saw']
UserId: 18, movies: ['Twister', 'Mission: Impossible', 'Independence Day', 'Executive Decision', 'Willy Wonka & the Chocolate Factory']
UserId: 19, movies: ['Toy Story', 'Jumanji', "Breakfast at Tiffany's", 'Mission: Impossible', 'Indiana Jones and the Last Crusade', 'Independence Day', 'Casablanca', 'Searching for Bobby Fischer', 'Bob Roberts', 'Get Shorty', 'Delicatessen', 'Leaving Las Vegas', 'The City of Lost Children', 'Twelve Monkeys', 'Lone Star', 'Dead Man Walking', 'Die Hard: With a Vengeance', 'Clueless', 'An American Werewolf in London', 'Quiz Show', 'To Die For', 'The Princess Bride', 'Welcome to the Dollhouse', 'Mighty Aphrodite', 'Life of Brian', 'Stargate', 'Star Trek: Generations', 'Home Alone', "What's Eating Gilbert Grape", 'Pretty Woman', 'The Hudsucker Proxy', 'Ace Ventura: Pet Detective', 'Star Trek VI: The Undiscovered Country', 'Dead Poets Society', 'The Client', 'Twister', 'Star Trek II: The Wrath of Khan', 'The Crow', 'Star Trek IV: The Voyage Home', 'On Golden Pond', 'Batman Returns', 'Seven Samurai', 'The Abyss', 'Dumb and Dumber', 'Escape from New York', 'Stand by Me', 'The Mask', 'Rumble in the Bronx', 'Mrs. Doubtfire', 'Speed', 'Philadelphia', 'Interview with the Vampire']
UserId: 20, movies: ['Jurassic Park', 'Forrest Gump', 'Star Wars']
UserId: 21, movies: ['Jurassic Park', 'Star Wars', 'Full Metal Jacket', 'E.T. the Extra-Terrestrial', "One Flew Over the Cuckoo's Nest", 'Jaws', 'Blade Runner']
UserId: 22, movies: ['Gladiator', "Ocean's Eleven 2001", 'Ghostbusters 1984']
UserId: 23, movies: ['War of the Worlds', 'Toy Story', 'The Great Dictator', 'Steel Magnolias', 'Broken Flowers', 'Sleepy Hollow', 'Die Hard', 'The Dreamlife of Angels', 'A.I. Artificial Intelligence', 'The Meaning of Life', 'The Grapes of Wrath', 'Batman Forever', 'Ghostbusters 1984', "Dante's Peak", 'Elizabeth', 'Enemy of the State', 'Lost in Translation', 'A Very Long Engagement', 'Top Gun', 'Deep Impact', 'The Rocky Horror Picture Show', 'Harry Potter and the Goblet of Fire', 'Walk the Line', 'Evolution', "You've Got Mail"]
UserId: 26, movies: ['Jurassic Park', 'Catch Me If You Can']
UserId: 30, movies: ['The Lord of the Rings: The Fellowship of the Ring', 'Memento', 'Robin Hood: Prince of Thieves', 'Somewhere in Time', '2010', 'The World Is Not Enough', "Look Who's Talking", 'The Out-of-Towners', 'Willow', 'The Secret Garden', 'Arlington Road', 'American History X', 'Sexy Beast', 'Shallow Hal', 'Alien: Resurrection', 'Casper', 'The Thin Blue Line', 'Popeye', 'AlienÂ³', 'To Die For', "City Slickers II: The Legend of Curly's Gold", 'Willy Wonka & the Chocolate Factory', 'Aliens', 'F/X', 'Cop Land', 'Joe Versus the Volcano', 'Dick Tracy', 'The Third Man', 'The Jerk', 'Halloween 1978', 'Carrie 1976', 'Mulholland Falls', 'M*A*S*H', 'Arthur 1981', 'The Big Lebowski', '8MM', 'The War of the Roses', 'Mad Max Beyond Thunderdome', 'American Psycho', 'Snow White and the Seven Dwarfs', 'Bowfinger', 'Gremlins', 'Psycho 1998', 'Airport 1975', 'Soylent Green', 'Back to the Future Part III', 'The Poseidon Adventure', 'Sixteen Candles', "Logan's Run", 'Rambo: First Blood Part II', 'Conquest of the Planet of the Apes', 'An American Werewolf in Paris', 'National Lampoonâ€™s European Vacation', 'Escape from New York', 'The Lion King', 'My Fellow Americans', 'Private Benjamin', 'Snow Falling on Cedars', 'The Love Bug', 'Alien Nation', 'Revenge of the Nerds', 'Rat Race', 'Flashdance']
UserId: 32, movies: ['True Lies', 'Beauty and the Beast 1991', 'Aladdin', 'Stargate']
UserId: 34, movies: ['E.T. the Extra-Terrestrial', 'The Blues Brothers', 'Men in Black', 'M*A*S*H']
UserId: 39, movies: ['Batman 1989']
UserId: 47, movies: ['Batman 1989']
UserId: 48, movies: ['Stranger Than Fiction', 'Corpse Bride', 'Babe', 'Looper', 'Big Hero 6', 'Star Trek', 'Chicken Run', 'Y Tu MamÃ¡ TambiÃ©n', 'I Am Legend', 'Death Proof', 'The Avengers 2012', 'Sweeney Todd: The Demon Barber of Fleet Street', 'The Amazing Spider-Man', 'The Mask of Zorro', 'Saw', 'Robots']
UserId: 50, movies: ['The Fugitive', 'True Lies', 'Speed']
UserId: 55, movies: ['Fargo', 'Twister', 'Executive Decision', 'Willy Wonka & the Chocolate Factory']
UserId: 56, movies: ['Life Is Beautiful']
UserId: 57, movies: ['This Is Spinal Tap', 'Titanic 1997', 'Aliens', 'The Terminator']
UserId: 59, movies: ['The Shawshank Redemption']
UserId: 61, movies: ['Harry Potter and the Chamber of Secrets', 'Finding Nemo', 'Beauty and the Beast 1991', 'Monsters, Inc.']
UserId: 63, movies: ['The Sixth Sense']
UserId: 67, movies: ['Toy Story']
UserId: 68, movies: ['Finding Nemo']
UserId: 70, movies: ['Star Wars', 'Heat', 'Sabrina 1995', 'Mission: Impossible', 'Executive Decision']
UserId: 72, movies: ['The Lord of the Rings: The Two Towers', 'The Lord of the Rings: The Fellowship of the Ring', 'Star Wars', 'The Lord of the Rings: The Return of the King', 'Shrek', 'Monsters, Inc.', 'Gladiator']
UserId: 73, movies: ['The Simpsons Movie', 'Dumbo', 'Commando', 'Alice in Wonderland 1951', 'GoldenEye', 'Ã†on Flux', 'The Lost World: Jurassic Park', 'The Bourne Ultimatum', 'Blades of Glory', 'Beerfest', 'Fun with Dick and Jane', 'We Were Soldiers', 'Land of the Dead', 'The Ring', 'Hannibal', 'Spawn', 'Tron', 'Rush Hour 2', 'Collateral', 'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe', 'Ice Age', 'Resident Evil', 'The Gods Must Be Crazy', 'Muppet Treasure Island', "The Devil's Advocate", 'American Pie 2', 'All Dogs Go to Heaven 2', 'Blade', 'DÃ©jÃ  Vu', 'The Protector', 'Phone Booth', 'Starship Troopers', 'The Patriot', 'The Perfect Storm', 'Judge Dredd', 'Lord of Illusions', 'The Chronicles of Riddick', 'My Big Fat Greek Wedding', 'The Substitute', 'Little Shop of Horrors', 'The Quest', 'Dawn of the Dead 2004', 'Scary Movie', 'Bowfinger', 'Star Wars: Episode III - Revenge of the Sith', 'Serendipity', 'Hostel', 'The Italian Job 2003', "The Hitchhiker's Guide to the Galaxy", 'Knocked Up', 'The Wedding Singer', 'My Cousin Vinny', 'The Fast and the Furious: Tokyo Drift', 'Star Wars: Episode II - Attack of the Clones', '50/50', 'The Bucket List', 'Watchmen', 'Monsters, Inc.', 'Saw IV', 'Undercover Brother', "Harry Potter and the Philosopher's Stone", 'Master and Commander: The Far Side of the World', 'Hellboy II: The Golden Army', "A Bug's Life", 'Dracula 1992', 'Candyman', 'Mr. Nice Guy', 'Mr. Deeds', 'Hellraiser', 'Reign of Fire', 'Game of Death', 'Die Hard 2', 'Clear and Present Danger', 'Rambo III', 'Fantastic Four 2005', 'Romancing the Stone', '28 Days Later', 'Rocky III', 'Not Another Teen Movie', 'Mars Attacks!', 'Maverick', 'Teenage Mutant Ninja Turtles II: The Secret of the Ooze', 'The Last of the Mohicans', 'Get Him to the Greek', 'Close Encounters of the Third Kind', '16 Blocks', 'The Hobbit: The Battle of the Five Armies', 'What Women Want 2000', '21', 'Finding Forrester', 'Remo Williams: The Adventure Begins...', 'Cast Away', 'American Wedding', 'Dragon: The Bruce Lee Story', 'I, Robot', 'Hitch', '300', 'Constantine', 'The Mask of Zorro', 'Back to the Future Part III', 'Last Action Hero', 'Rocky Balboa', 'Super Troopers', 'Dead Ringers', 'The Adventures of Buckaroo Banzai Across the 8th Dimension']
UserId: 75, movies: ['The Terminator', 'Return of the Jedi']
UserId: 77, movies: ["Ocean's Eleven 2001", 'Mission: Impossible', 'The Fugitive', 'American Beauty', 'E.T. the Extra-Terrestrial', 'True Lies', 'Blade Runner']
UserId: 78, movies: ["Harry Potter and the Philosopher's Stone", 'Star Trek IV: The Voyage Home', 'Pirates of the Caribbean: The Curse of the Black Pearl', 'Austin Powers: International Man of Mystery', 'A Clockwork Orange', '2001: A Space Odyssey']
UserId: 82, movies: ['Batman 1989', 'The Fugitive', 'True Lies']
UserId: 83, movies: ['Clerks']
UserId: 84, movies: ['Saving Private Ryan']
UserId: 85, movies: ['The Firm', 'Aladdin', 'The Lion King', 'Dances with Wolves', 'Waterworld', 'Cliffhanger', 'Beauty and the Beast 1991', 'Apollo 13', 'Interview with the Vampire']
UserId: 86, movies: ['Natural Born Killers', 'Toy Story', 'Babe', 'Crumb', 'Aladdin', 'Terminator 2: Judgment Day', 'Dances with Wolves', 'Batman 1989', 'The Usual Suspects', 'Beauty and the Beast 1991', 'Pretty Woman', 'Leaving Las Vegas', 'Bullets Over Broadway']
UserId: 88, movies: ['Memento', 'A Beautiful Mind', 'Grease', "Ferris Bueller's Day Off", 'The Fugitive', 'Men in Black', 'Batman 1989', 'Willy Wonka & the Chocolate Factory', 'Groundhog Day', 'Mrs. Doubtfire', 'Pretty Woman', 'Speed']
UserId: 89, movies: ['The Lord of the Rings: The Fellowship of the Ring']
UserId: 90, movies: ['Independence Day']
UserId: 92, movies: ['Natural Born Killers', 'Die Hard: With a Vengeance', 'Four Weddings and a Funeral', 'Speed', 'GoldenEye', 'Aladdin', 'Batman 1989', 'Apollo 13', 'Ace Ventura: Pet Detective', 'Batman Forever', 'Stargate', 'Clear and Present Danger', 'Interview with the Vampire']
UserId: 93, movies: ['Shrek', 'Spider-Man', 'Monsters, Inc.']
UserId: 94, movies: ['The Incredibles', 'Eternal Sunshine of the Spotless Mind', 'Leon: The Professional', 'Iron Man', 'Monsters, Inc.']
UserId: 95, movies: ['Bringing Out the Dead', 'Deep Blue Sea', 'Scream 3', '54', 'Summer of Sam', 'The Craft', 'Good Morning, Vietnam', 'Armageddon', 'Halloween II 1981']
UserId: 97, movies: ['Reservoir Dogs', 'The Godfather', 'Star Wars']
UserId: 99, movies: ['Almost Famous', 'The Sound of Music', 'Aladdin']

In [145]:
indices = user_item.loc[3].sort_values(ascending=False).head(10).index # real data
_, movies = get_recommendations_2(3) # recommended 
list(id_map2.loc[indices].title.values), 'Recommendations:', list(movies)

(['Fight Club',
  'Forrest Gump',
  'The Shawshank Redemption',
  'The Princess Bride',
  'Requiem for a Dream',
  'Flags of Our Fathers',
  'Titanic 1997',
  'Letters from Iwo Jima',
  'Pulp Fiction',
  'The White Stripes: Under Great White Northern Lights'],
 'Recommendations:',
 ["Schindler's List"])

In comparison with the previous model this model only recommends one movie "Schindler's List" for User 3. That's the main drawback of this model.